.TransactionHistory {
  width: 500px;
  margin: 30px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.thead {
  background-color: #00bcd5;
}

.tr {
  &:nth-child(even) {
    background-color: #f3f6f9;
  }
}

.th {
  padding: 8px;
}

.td {
  padding: 8px;
  text-align: center;
}
